* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #273B7B;
}

h1 {
    color: white;
}

.status1 {
    color: green;
}

.status2 {
    color: red;
}

.status3 {
    color: orange;
}

.status4 {
    color: orange;
}

#home {

}

#logoZone {
    border: 5px solid white;
    width: 60%;
    margin: auto;
}

#uploadZone {
    width: 25%;
    margin: auto;
}

#logo {
    height: 10%;
    width: 10%;
}