* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #273B7B;
}

h1 {
    color: white;
}

.status1 {
    color: green;
}

.status2 {
    color: red;
}

.status3 {
    color: orange;
}

.status4 {
    color: orange;
}

#home {

}

#logoZone {
    width: 60%;
    margin: 8% auto 5% auto;
    text-align: center;
}

#uploadZone {
    width: 30%;
    margin: auto;
}

#uploadButton {
    margin-bottom: 20px;
}

#logo {
    height: 20%;
    width: 20%;
    margin-bottom: 3%;
}