<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runDvous</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="dropzone.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="dropzone.js"></script>

</head>
<body>
    <h1>runDvous</h1>

    <button id="uploadButton" type="submit" form="dropzone">Upload</button>

    <form action="/schedule" method="post" class="dropzone" id="dropzone"></form>
</body>
</html>