<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runDvous</title>
    <link rel="stylesheet" href="dropzone.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="dropzone.js"></script>

</head>
<body>
<div id="home">
    <div id="logoZone">
    <img id="logo" src="logo.png">
    <h1>runDvous</h1>
    </div>

    <div id="uploadZone">
    <button id="uploadButton" type="submit" form="dropzone" class="btn btn-outline-success btn-block">Upload</button>

    <form action="/schedule" method="post" class="dropzone" id="dropzone"></form>
    </div>
</div>
</body>
</html>