<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>runDvous</title>
    <link rel="stylesheet" href="dropzone.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="dropzone.js"></script>

    <script src="particles.js"></script>
</head>
<body>
<div id="particles-js">
    <div id="home">
        <div id="logoZone">
        <img id="logo" src="logo.png">
        <h1>runDvous</h1>
          <!--  <h2>Making delivery great again</h2>-->
        </div>
    
        <div id="uploadZone">
        <button id="uploadButton" type="submit" form="dropzone" class="btn btn-primary btn-block">Upload</button>

        <form action="/schedule" method="post" class="dropzone" id="dropzone"></form>
        </div>
    </div>
</div>

</body>
</html>